/* [less, public/less, lib.less] */
/* line 3, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.dbg1 {
  background-color: #069 !important;
}
/* line 4, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.dbg2 {
  background-color: #EEE !important;
}
/* line 6, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.text-branded {
  color: #d61031;
}
/* line 7, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.text-imp-branded {
  color: #d61031 !important;
}
/* line 8, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.text-light {
  color: #777777;
}
/* line 10, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.no-bolded {
  font-weight: normal;
}
/* line 11, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.bold {
  font-weight: bold;
}
/* line 13, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.uppercase {
  text-transform: uppercase;
}
/* line 14, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.pointer {
  cursor: pointer;
}
/* line 16, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.hide {
  display: none !important;
}
/* line 17, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.invisible {
  visibility: hidden !important;
}
/* line 19, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.absolute {
  position: absolute;
}
/* line 20, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.center-margin {
  margin: auto;
}
/* line 23, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.bordered {
  border: 1px solid #000 !important;
}
/* line 24, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.no-border {
  border: none;
}
/* line 26, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-100 {
  width: 100%;
}
/* line 27, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-90 {
  width: 90%;
}
/* line 28, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-80 {
  width: 80%;
}
/* line 29, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-70 {
  width: 70%;
}
/* line 30, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-60 {
  width: 60%;
}
/* line 31, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-50 {
  width: 50%;
}
/* line 32, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-40 {
  width: 40%;
}
/* line 33, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-30 {
  width: 30%;
}
/* line 34, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-20 {
  width: 20%;
}
/* line 35, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.w-10 {
  width: 10%;
}
/* line 37, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-0 {
  margin-top: 0px;
}
/* line 38, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-10 {
  margin-top: 10px;
}
/* line 39, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-20 {
  margin-top: 20px;
}
/* line 40, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-30 {
  margin-top: 30px;
}
/* line 41, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-40 {
  margin-top: 40px;
}
/* line 43, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-0 {
  margin-bottom: 0px;
}
/* line 44, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-10 {
  margin-bottom: 10px;
}
/* line 45, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-20 {
  margin-bottom: 20px;
}
/* line 46, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-30 {
  margin-bottom: 30px;
}
/* line 47, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-40 {
  margin-bottom: 40px;
}
/* line 49, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-0 {
  margin-left: 0px;
}
/* line 50, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-10 {
  margin-left: 10px;
}
/* line 51, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-20 {
  margin-left: 20px;
}
/* line 52, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-30 {
  margin-left: 30px;
}
/* line 53, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-40 {
  margin-left: 40px;
}
/* line 55, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-0 {
  margin-right: 0px;
}
/* line 56, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-10 {
  margin-right: 10px;
}
/* line 57, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-20 {
  margin-right: 20px;
}
/* line 58, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-30 {
  margin-right: 30px;
}
/* line 59, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-40 {
  margin-right: 40px;
}
/* line 61, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-0-imp {
  margin-top: 0px;
}
/* line 62, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-10-imp {
  margin-top: 10px;
}
/* line 63, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-20-imp {
  margin-top: 20px;
}
/* line 64, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-30-imp {
  margin-top: 30px;
}
/* line 65, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-top-40-imp {
  margin-top: 40px;
}
/* line 67, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-0-imp {
  margin-bottom: 0px;
}
/* line 68, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-10-imp {
  margin-bottom: 10px;
}
/* line 69, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-20-imp {
  margin-bottom: 20px;
}
/* line 70, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-30-imp {
  margin-bottom: 30px;
}
/* line 71, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-bottom-40-imp {
  margin-bottom: 40px;
}
/* line 73, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-0-imp {
  margin-left: 0px;
}
/* line 74, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-10-imp {
  margin-left: 10px;
}
/* line 75, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-20-imp {
  margin-left: 20px;
}
/* line 76, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-30-imp {
  margin-left: 30px;
}
/* line 77, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-left-40-imp {
  margin-left: 40px;
}
/* line 79, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-0-imp {
  margin-right: 0px;
}
/* line 80, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-10-imp {
  margin-right: 10px;
}
/* line 81, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-20-imp {
  margin-right: 20px;
}
/* line 82, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-30-imp {
  margin-right: 30px;
}
/* line 83, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.margin-right-40-imp {
  margin-right: 40px;
}
/* line 85, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-0 {
  padding-top: 0px;
}
/* line 86, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-10 {
  padding-top: 10px;
}
/* line 87, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-20 {
  padding-top: 20px;
}
/* line 88, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-30 {
  padding-top: 30px;
}
/* line 89, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-40 {
  padding-top: 40px;
}
/* line 91, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-0 {
  padding-bottom: 0px;
}
/* line 92, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-10 {
  padding-bottom: 10px;
}
/* line 93, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-20 {
  padding-bottom: 20px;
}
/* line 94, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-30 {
  padding-bottom: 30px;
}
/* line 95, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-40 {
  padding-bottom: 40px;
}
/* line 97, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-0 {
  padding-left: 0px;
}
/* line 98, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-10 {
  padding-left: 10px;
}
/* line 99, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-20 {
  padding-left: 20px;
}
/* line 100, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-30 {
  padding-left: 30px;
}
/* line 101, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-40 {
  padding-left: 40px;
}
/* line 103, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-0 {
  padding-right: 0px;
}
/* line 104, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-10 {
  padding-right: 10px;
}
/* line 105, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-20 {
  padding-right: 20px;
}
/* line 106, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-30 {
  padding-right: 30px;
}
/* line 107, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-40 {
  padding-right: 40px;
}
/* line 109, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-0-imp {
  padding-top: 0px;
}
/* line 110, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-10-imp {
  padding-top: 10px;
}
/* line 111, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-20-imp {
  padding-top: 20px;
}
/* line 112, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-30-imp {
  padding-top: 30px;
}
/* line 113, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-top-40-imp {
  padding-top: 40px;
}
/* line 115, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-0-imp {
  padding-bottom: 0px;
}
/* line 116, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-10-imp {
  padding-bottom: 10px;
}
/* line 117, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-20-imp {
  padding-bottom: 20px;
}
/* line 118, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-30-imp {
  padding-bottom: 30px;
}
/* line 119, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-bottom-40-imp {
  padding-bottom: 40px;
}
/* line 121, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-0-imp {
  padding-left: 0px;
}
/* line 122, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-10-imp {
  padding-left: 10px;
}
/* line 123, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-20-imp {
  padding-left: 20px;
}
/* line 124, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-30-imp {
  padding-left: 30px;
}
/* line 125, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-left-40-imp {
  padding-left: 40px;
}
/* line 127, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-0-imp {
  padding-right: 0px;
}
/* line 128, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-10-imp {
  padding-right: 10px;
}
/* line 129, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-20-imp {
  padding-right: 20px;
}
/* line 130, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-30-imp {
  padding-right: 30px;
}
/* line 131, /Users/macbookpro/Documents/SERVER/DY/Web/public/less/lib.less */
.padding-right-40-imp {
  padding-right: 40px;
}
