
@font-face {
  font-family: 'FlamaMedium';
  src: url('FlamaMedium.eot?#iefix') format('embedded-opentype'),  url('FlamaMedium.otf')  format('opentype'),
	     url('FlamaMedium.woff') format('woff'), url('FlamaMedium.ttf')  format('truetype'), url('FlamaMedium.svg#FlamaMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
